<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

-   Collect exchange rate data using an API
-   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [2]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data. 
1. Open the url : https://exchangeratesapi.io/ and click on **Get Free API Key**. 
2. Subscribe for Free plan and Sign-in with the Google Account. 
3. Once the account is created you will be redirected to https://apilayer.com website.
2. Now, click on the **user icon** and click **Account** as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/account.png">

3. Scroll down and you will get the API Key section. Copy the API key and use in the url in Question 1.

### Call the API

 <b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [41]:
# Write your code here
api_key="a46b8708b0bb0e9c391f856f6f959710" #https://manage.exchangeratesapi.io/dashboard
url = "http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key="+api_key  #Make sure to change ******* to your API key.
data_str=requests.get(url).text
print(data_str)

{"success":true,"timestamp":1688415904,"base":"EUR","date":"2023-07-03","rates":{"AED":4.007832,"AFN":93.299551,"ALL":106.248868,"AMD":422.245682,"ANG":1.964506,"AOA":900.729518,"ARS":281.438838,"AUD":1.635659,"AWG":1.966763,"AZN":1.85808,"BAM":1.957236,"BBD":2.200935,"BDT":117.967651,"BGN":1.955655,"BHD":0.41133,"BIF":3098.811248,"BMD":1.091131,"BND":1.473995,"BOB":7.532148,"BRL":5.244846,"BSD":1.0901,"BTC":3.4941816e-5,"BTN":89.309556,"BWP":14.651886,"BYN":2.751444,"BYR":21386.162134,"BZD":2.197233,"CAD":1.445972,"CDF":2630.715997,"CHF":0.97803,"CLF":0.031599,"CLP":871.900351,"CNY":7.900551,"COP":4553.288499,"CRC":591.223029,"CUC":1.091131,"CUP":28.914964,"CVE":110.695529,"CZK":23.724413,"DJF":193.916121,"DKK":7.447889,"DOP":60.502873,"DZD":147.940828,"EGP":33.713786,"ERN":16.366961,"ETB":59.576589,"EUR":1,"FJD":2.466229,"FKP":0.858885,"GBP":0.859745,"GEL":2.847903,"GGP":0.858885,"GHS":12.466136,"GIP":0.858885,"GMD":65.009613,"GNF":9443.736706,"GTQ":8.551118,"GYD":230.537558,"HKD":8.547694,"HNL":26.972541,"HRK":7.61185,"HTG":150.970789,"HUF":374.885187,"IDR":16421.353684,"ILS":4.034848,"IMP":0.858885,"INR":89.409541,"IQD":1429.381245,"IRR":46124.820859,"ISK":148.90708,"JEP":0.858885,"JMD":167.790056,"JOD":0.774159,"JPY":157.883375,"KES":153.522191,"KGS":95.267277,"KHR":4504.18787,"KMF":492.420583,"KPW":982.017449,"KRW":1425.496502,"KWD":0.335436,"KYD":0.908375,"KZT":488.763156,"LAK":20464.15693,"LBP":16661.566296,"LKR":335.739458,"LRD":197.057204,"LSL":20.545812,"LTL":3.221825,"LVL":0.660014,"LYD":5.248139,"MAD":10.798897,"MDL":20.00167,"MGA":4942.821973,"MKD":61.565744,"MMK":2289.100825,"MNT":3749.044195,"MOP":8.795692,"MRO":389.53348,"MUR":49.648668,"MVR":16.705496,"MWK":1147.317124,"MXN":18.621652,"MYR":5.092858,"MZN":69.013657,"NAD":20.545658,"NGN":841.675983,"NIO":39.908074,"NOK":11.669403,"NPR":142.89497,"NZD":1.773982,"OMR":0.420004,"PAB":1.09011,"PEN":3.954807,"PGK":3.840629,"PHP":60.318258,"PKR":312.608985,"PLN":4.437572,"PYG":7913.662349,"QAR":3.972831,"RON":4.951109,"RSD":117.220272,"RUB":97.653345,"RWF":1271.16729,"SAR":4.09209,"SBD":9.143353,"SCR":14.392999,"SDG":656.316384,"SEK":11.819946,"SGD":1.474167,"SHP":1.327634,"SLE":20.666077,"SLL":21549.831199,"SOS":620.313721,"SRD":40.535559,"STD":22584.202943,"SVC":9.538349,"SYP":2740.960106,"SZL":20.545702,"THB":38.244052,"TJS":11.908566,"TMT":3.818958,"TND":3.34755,"TOP":2.576048,"TRY":28.305892,"TTD":7.408301,"TWD":33.939613,"TZS":2640.535998,"UAH":40.257874,"UGX":4005.93974,"USD":1.091131,"UYU":40.92153,"UZS":12586.192423,"VEF":3032279.69748,"VES":30.531125,"VND":25870.709398,"VUV":129.757377,"WST":2.927625,"XAF":656.444745,"XAG":0.047678,"XAU":0.000568,"XCD":2.948835,"XDR":0.819509,"XOF":653.049119,"XPF":119.711621,"YER":273.164234,"ZAR":20.507471,"ZMK":9821.482008,"ZMW":19.40226,"ZWL":351.343647}}

### Save as DataFrame

 <b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [34]:
# Turn the data into a dataframe
# https://www.geeksforgeeks.org/python-convert-string-dictionary-to-dictionary/
import json
data_dict = json.loads(data_str)
df = pd.DataFrame(data_dict)

In [39]:
# Drop unnescessary columns
df2=df.drop(columns=['success','timestamp','base','date'])
display(df2)

           rates
AED     4.007962
AFN    93.297290
ALL   106.252312
AMD   422.259500
ANG     1.964570
..           ...
YER   273.173565
ZAR    20.532316
ZMK  9821.811271
ZMW    19.402896
ZWL   351.355163

[170 rows x 1 columns]

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [40]:
# Save the Dataframe
targetfile="exchange_rates_1.csv"
df2.to_csv(targetfile)

Your CSV should be in this format with more currencies

| | Rates |
| ------- | ------- |
|  AED| 4.398618    |
|  AFN| 92.917693   |  
|  ALL| 123.099093  |
|  AMD| 621.935674  |
|  ANG| 2.149648    |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2022-05-06        | 0.3     | Malika            | Updated instructions to get the API and the url|
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR    |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).